
* {
  margin-top: 0px;
  padding: 1px;
}


.box{
  background-color:#fff;
  height: px;
  width: 400;
  border: 100px ;
  text-align:left;
  padding: 100px;

}

.logo{
  float: left;
  size-adjust: 70px;
  margin-top: -80px;
  padding: 130px;
  

}
.box1{
  padding: px;
  height: 250px;;
  width: 400px;
  border: 0px;
}

.our-story{
  height: 1px;
  width: 100px;
  margin: 10px;
 font-size: 0.9em;
 font-family: "roboto";
 padding-left: -100px;
 
}
.learn-button{
  display: flex;
  flex-direction: column;
  border: 1px solid #00e0d0;
  width: 130px;
  height: 50px;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto';
  font-weight: bold;
  text-emphasis-color: #00e0d0;
  