
.box{
  background-color:#fff;
  height: 250px;
  width: 400;
  border: 100px ;
  text-align:left;
  padding: 100px;

}

.logo{
  float: left;
  size-adjust: 50px;
  margin-top: 70px;

}
.box1{
  padding: px;
  height: 250px;;
  width: 400px;
  border: 1px;
}

.our-story{
  height: 1px;
  width: 127px;
  margin: 20px auto;
 font-size: 0.9em;
  display: block;
}
 .learn-button